<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/how-to-play.css">
</head>
<body>
    <h1>How To Play</h1>
    <hr>
    <a href="/" class="button">Back</a>
    <div class="container">
        <video controls>
            <source src="videos/how.mp4" type="video/mp4">

          </video>
          
          <div class="play">
            <h1>How To Play</h1>
            <p>1.Press the START button. Simon will give the first signal. Repeat the signal by pressing the same color lens.</p>
          <p>2.Simon will duplicate the first signal and add one. Repeat these two signals by pressing the same color lenses, in order.</p>
          <p>3.Simon will duplicate these first two signals and add one.</p>
          </div>
          
          
    </div>
</body>
</html>