body{
    background-color: #011F3F;
}
.container-fluid table{
    color: aliceblue;
}
tbody th{
    color: aqua;
}
.btn {
    margin-left:50px;
    margin-top: -100px;
}
.register{
    color:bisque;
    text-decoration: none;

}
p{
    color:aliceblue;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}
h1{
    color: aliceblue;
    text-align: center;
}
@media (max-width: 562px){
    .btn {
        margin-left:0;
        margin-top: -80px;
    }
}
