@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
#score-board {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
 color: rgb(203, 206, 218);
}
.open-menu{
  width: 6%;
  position: absolute;
  top: 50px;
  left: 50px;
}
.close{
  width: 10%;
  position: absolute;
  right: 20px;
  top: 15px;
}
.menu{
  width: 400px;
  height: 100vh;
  background-color: black;
  position: absolute;
  top:0;
  left:0;
  display:none;

}
.menu ul{
  margin-right: 30px;
  margin-top: 170px;
}
.menu ul li{

font-family: "Poppins";
 list-style: none;
 margin-top: 30px;
 color:aliceblue;

}
h3{
  color: aliceblue;
  font-family: "Poppins";
  font-weight: 500;
  
}
.menu ul li a{
  text-decoration: none;
  color:aliceblue;

  font-size:1.2rem;
}
.menu ul li a:hover{
opacity: 0.8;
}
.play-audio{
  width: 6%;
  position: absolute;
  right: 50px;
  top: 50px;
  display:none;
}
.mute-audio{
  width: 6%;
  position: absolute;
  right: 50px;
  top: 50px;
  
}
.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn.score {
  margin: 25px;
  display:none;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.blink{
  box-shadow: 0 0 20px rgb(255, 255, 255);
  background-color: rgb(234, 221, 221);
}
#start-button{
  margin-top: 100px;
  background-color: green;
  font-family: 'Press Start 2P', cursive;
  padding:80px 100px;
  font-size: 3rem;
}
#restart-button{
  display: none;
  margin-top: 100px;
  background-color:yellow;
  font-family: 'Press Start 2P', cursive;
  padding:80px 100px;
  font-size: 3rem;
  margin-left: 100px;

}
.profile{
  
  background-color:aliceblue;
  border-radius: 25px;

}

.account{

  position: absolute;
  top: 30px;
  left: 30px;
}
.account a{
  text-decoration: none;
  color: aliceblue;
  font-family: "Poppins";
  display: flex;
  height: 60px;
}
.account img{
  width: 50%;
  display: inline-block;
  margin-right: 10px;
}
.account p{
  font-weight: 500;
  font-size:1.3rem;

}
.account h3{
  font-size: 1.2rem;
  /* margin-left: 96px; */
  position: absolute;
  /* margin-top: -24px; */
  /* left: 38px; */
  right: -31px;
  top: 43px;
}
.account.guest{
  display: flex;
  text-decoration: none;
  color: aliceblue;
  font-family: "Poppins";
  display: flex;
  height: 60px;
}
.chat{
  display: flex;
  
    position: absolute;
    bottom: 0;
    right: 0;
}
.chat input{
width: 85rem;
height: 3rem;
border-radius: 10px;
}
.chat-button{
  padding: 15px 30px;
  color: black;
  background-color:aliceblue;
  border-radius: 10px;
  font-family: "Poppins";
}
.chatting{
  padding: 2% 0;
  color: aliceblue;
  background-color:dodgerblue;
  border-radius: 30px;
}
.btn {
  margin: 25px;
  display:none;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}
@media (max-width: 1100px){
  #start-button{
    padding:40px 50px;
  }
  #restart-button{
    padding:40px 50px;
    margin-left: 0;
  }
  .btn {
    margin: 25px;
    display:none;
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 20%;
  }
  .row{
    display: grid;
   
    grid-template-columns: 1fr 1fr;
}

}
@media (max-width: 562px){
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin:  5%;
    color: #FEF2BF;
  }
  .open-menu{
    width: 10%;
    left:20px;
  }
  .btn {
    margin: 25px;
    display:none;
    height: 125px;
    width: 125px;
    border: 10px solid black;
    border-radius: 20%;
  }
  .container{
    margin-left: 0;
    margin-top: 150px;
  }
  .row{
    display: grid;
   
    grid-template-columns: 1fr 1fr;
}
.play-audio,.mute-audio{
  right:20px;
  top:50px;
}
  #restart-button{
  padding:40px 20px;
  }
  #score-board {
  font-size: 1.5rem;
  margin:  5%;
}
.account img{
  width: 50%;
  display: inline-block;
  margin-right: 10px;
}
.account p{
  font-weight: 500;
  font-size:1.3rem;
}
.account h3{
  font-size: 1.1rem;
  margin-left: 96px;

  margin-top: 24px;
}
.chat input{
  width: 15rem;
}
  }